<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Zortazert's website!</title>
  <link rel="stylesheet" href="../style/styles.css">
</head>

<h2>Joey goes to the Poke Mart!</h2>

<video controls width="560">
  <source src="joey-go-to-the-poke-mart.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<ul>
  <li><b>Author:</b> trueauracoral</li>
  <li><b>Publish Date:</b> July 8th, 2021</li>
  <li><b>Link:</b> <a href="https://librarian.bcow.xyz/@trueauracoral:a/pokemart:3">Librarian link</a></li>
</ul>
